

.card-l{
    width: 22.188em !important;
}
.card-l .card__img{
    height: 14.688em;
}
.card + .card{
    margin-top: 20px;
}
.card{

    width: 15.625em;
    min-height: 20.625em;
    background: white;
    border-radius: 3px;
    
}
.card__img{
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 15.625em;

}
.card-body{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 1em;
    height: fit-content;
    
}
.card__title, .card__content {
    padding: 0 10px;
    margin-top: 0;

}
.card-footer{
    z-index: 222;
}
.btn-padding{
    margin: 10px ;

}
* + .collapse{
    margin-top: 10px;
}
.collapse {
    
    display: none;

}


.un__collapse{
    display: flex;
}
